<app-header></app-header>
<div class="container">
    <header>
        <br>
    </header>

    <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
            <div class="mb-3 mb-md-0">
                <h1 class="mb-1 h2 fw-bold">Add New Post</h1>
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="listP">All posts</a>
                        </li>
                        
                        <li class="breadcrumb-item active" aria-current="page">
                            Add New Post
                        </li>
                    </ol>
                </nav>
            </div>
            <div>
                <a href="chatbot" class="btn btn-outline-secondary">Chatbot</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12 col-12">
            <!-- Card -->
            <div class="card mt-4 mt-lg-0 mb-4">
                <!-- Card Header -->
                <div class="card-header d-lg-flex">
                    <h4 class="mb-0">Post Info</h4>
                </div>
                <!-- List Group -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-body">Post ID</span>
                        <h5>8693637308</h5>
                    </li>
                    <li class="list-group-item">
                        <span class="text-body">Status</span>
                        <h5>
                            <span class="badge-dot bg-success d-inline-block me-1"></span>Published (unsaved changes)
                        </h5>
                    </li>
                    <li class="list-group-item">
                        <span class="text-body">Created by</span>
                        <div class="d-flex mt-2">
                            <img src="../../assets/images/avatar/avatar-1.jpg" alt="" class="avatar-sm rounded-circle">
                            <div class="ms-2">
                                <h5 class="mb-n1">Geeks Courses</h5>
                                <small>Admin</small>
                            </div>
                        </div>
                    </li>

                </ul>
                <!-- Card -->
            </div>
            <div class="card mb-4">
                <!-- Card Header -->
                <div class="card-header d-lg-flex">
                    <h4 class="mb-0">Actions</h4>
                </div>
                <!-- List group -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-body">Unpublish</span>
                        <a href="#" class="text-inherit"><i class="fe fe-x-circle fs-4"></i></a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-body">Duplicate</span>
                        <a href="#" class="text-inherit"><i class="fe fe-copy fs-4"></i></a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="text-body">Delete</span>
                        <a href="#"><i class="fe fe-trash text-danger fs-4"></i></a>
                    </li>
                </ul>
            </div>
            <!-- Card  -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header d-lg-flex">
                    <h4 class="mb-0">Revision History</h4>
                </div>
                <!-- List group -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-0">Aug 31, 12:21 PM</h5>
                            <span class="text-body">Geeks Coures</span>
                        </div>
                        <div>
                            <span class="col-12 col-md-3  text-end d-grid">Published</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12 col-12">
            <!-- Card -->
            <div class="card border-0 mb-4">
                <!-- Card header -->
                <div class="card-header">
                    <h4 class="mb-0">Create Post</h4>
                </div>
                <!-- Card body -->
                <div class="card-body">
                    <div class="mb-3 col-md-9">
                        <!-- Title -->
                        <label for="postTitle" class="form-label">Question</label>
                        <input type="text" [(ngModel)]="post.contenu" class="form-control text-dark" placeholder="Content">
                    </div>
                    <form action="#" class="dropzone mt-4 border-dashed rounded-2 min-h-0 dz-clickable">
                        <div class="form-group">
                            <label for="image">Image </label>
                            <input (change)="onFileSelected($event)" type="file" accept="image/*" class="form-control" id="image" name="image" [(ngModel)]="post.imageFile">
                            <label for="image">Click to add an image</label>
                        </div>

                        <div class="mt-4">
                            <form>
                                <!-- Form -->
                                <div class="row">
                                    <!-- Question -->
                                    <div class="mb-3 col-md-4">

                                        <ng-container *ngFor="let post of posts">
                                            <div class="mb-3 col-md-9">
                                                <!-- Title -->
                                                <label for="postTitle" class="form-label">Question</label>
                                                <input type="text" [(ngModel)]="post.contenu" id="postTitle" class="form-control text-dark" placeholder="Content">
                                            </div>
                                            <input type="file" accept="image/*" class="form-control" name="image" [(ngModel)]="post.imageFile">
                                        </ng-container>
                                    </div>
                                </div>
                                <br>
                                <div class="col-12 col-md-3  text-end d-grid">
                                    <!-- button -->
                                    <button  href="listP" type="button" (click)="AjouterQuestion()" class="btn btn-primary rounded-pill">Publish</button>

                                </div>
                              
                            </form>
                        </div>

                        <!-- button -->

                    </form>

                </div>

            </div>

        </div>
    </div>
    <div class="form-group">
        <!-- content -->
    </div>


</div>
<app-footer></app-footer>
