<section class="container-fluid p-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Page header -->
        <div>
          <div class="border-bottom pb-3 mb-3">
            <h2 class="mb-0 fw-bold">Calendar</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
          <!-- Calendar here  -->
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
  </section>
  