
  <nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
      <!-- Brand logo -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/brand/logo/logo-inverse.png" alt="" />
      </a>
      <!-- Navbar nav -->
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <!-- Nav item -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#navProject"
            aria-expanded="false"
            aria-controls="navProject"
          >
            <i class="nav-icon fe fe-file me-2"></i> User-Management
          </a>
          <div id="navProject" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/listUser"> User-List </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/listAdmins"> Admin-List </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Access"> Give access </a>
              </li>

            </ul>
          </div>
        </li>
        <!-- Nav item -->


        <!-- Nav item -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#navProject"
            aria-expanded="false"
            aria-controls="navProject"
          >
            <i class="nav-icon fe fe-file me-2"></i> Workshop-Management
          </a>
          <div id="navProject" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/DlistW"> Worksop list </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/DAjoutW"> Add workshop </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/DlistRes"> Reservation List </a>
              </li>


            </ul>
          </div>
        </li>
        <!-- Nav item -->


                <!-- Nav item -->
                <li class="nav-item">
                  <a
                    class="nav-link collapsed"
                    href="#"
                    data-bs-toggle="collapse"
                    data-bs-target="#navProject"
                    aria-expanded="false"
                    aria-controls="navProject"
                  >
                    <i class="nav-icon fe fe-file me-2"></i> Forum-Management
                  </a>
                  <div id="navProject" class="collapse" data-bs-parent="#sideNavbar">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="/DList"> Post list </a>
                      </li>        
                    </ul>
                  </div>
                </li>
                <!-- Nav item -->




      </ul>
    </div>
