
  <nav class="navbar-vertical navbar">
    <div class="vh-100" data-simplebar>
      <!-- Brand logo -->
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/brand/logo/logo-inverse.png" alt="" />
      </a>
      <!-- Navbar nav -->
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <!-- Nav item -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#navProject"
            aria-expanded="false"
            aria-controls="navProject"
          >
            <i class="nav-icon fe fe-file me-2"></i> Project
          </a>
          <div id="navProject" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="project-grid.html"> Grid </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="project-list.html"> List </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link collapsed"
                  href="#"
                  data-bs-toggle="collapse"
                  data-bs-target="#navprojectSingle"
                  aria-expanded="false"
                  aria-controls="navprojectSingle"
                >
                  Single
                </a>
                <div
                  id="navprojectSingle"
                  class="collapse"
                  data-bs-parent="#navProject"
                >
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="project-overview.html">
                        Overview
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="project-task.html"> Task </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="project-budget.html">
                        Budget
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="project-team.html"> Team </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="project-files.html"> Files </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="project-summary.html">
                        Summary
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="add-project.html"> Create Project </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="task-kanban.html">
            <i class="nav-icon mdi mdi-trello me-2"></i>
            Task
          </a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="mail.html">
            <i class="nav-icon mdi mdi-email-outline me-2"></i>
            Mail
          </a>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link" href="calendar.html">
            <i class="nav-icon mdi mdi-calendar me-2"></i>
            Calendar
          </a>
        </li>
      </ul>
    </div>
