<main>
	<section class="pt-5 pb-5">
		<div class="container">
			<div class="row align-items-center">
				<!-- User info -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-12">
					<!-- Bg -->
					<div class="pt-16 rounded-top" style="
								background: url(../../../../assets/images/background/profile-bg.jpg) no-repeat;
								background-size: cover;
							"></div>
						<div class="card px-4 pt-2 pb-4 shadow-sm rounded-top-0 rounded-bottom-0 rounded-bottom-md-2 ">
							<div class="d-flex align-items-end justify-content-between  ">
								<div class="d-flex align-items-center">
									<div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
										<img src="../../../../assets/images/avatar/avatar-1.jpg" class="avatar-xl rounded-circle border border-4 border-white position-relative" alt="avatar">
										<a href="#" class="position-absolute top-0 end-0" data-bs-toggle="tooltip" data-placement="top" aria-label="Verified" data-bs-original-title="Verified">
											<img src="../../../../assets/images/png/checked-mark.svg" alt="checked" height="30" width="30">
										</a>
									</div>
									<div class="lh-1">
										<h2 class="mb-0">Jenny Wilson</h2>
										<p class="mb-0 d-block">@Jennywilson</p>
									</div>
								</div>
								<div>
									<a [routerLink]="['/add-resource']" class="btn btn-primary d-none d-md-block">Create New
										Course</a>
								</div>
							</div>
						</div>
				</div>
			</div>

	<!-- Content -->

	<div class="row mt-0 mt-md-4">
				<div class="col-lg-3 col-md-4 col-12">
					<!-- Side navabar -->
					<nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
						<!-- Menu -->
						<a class="d-xl-none d-lg-none d-md-none text-inherit fw-bold" href="#">Menu</a>
						<!-- Button -->
						<button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="fe fe-menu"></span>
						</button>
						<!-- Navbar Collapse -->
						<div class="collapse navbar-collapse" id="sidenav">
							<div class="navbar-nav flex-column">
								<!-- Navbar header -->
								<span class="navbar-header">Dashboard</span>
								<ul class="list-unstyled ms-n2 mb-4">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="dashboard-instructor.html"><i class="fe fe-home nav-icon"></i>My
											Dashboard</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item active">
										<a class="nav-link" href="instructor-courses.html"><i class="fe fe-book nav-icon"></i>My Courses</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="instructor-reviews.html"><i class="fe fe-star nav-icon"></i>Reviews</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="instructor-earning.html"><i class="fe fe-pie-chart nav-icon"></i>Earnings</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="instructor-order.html"><i class="fe fe-shopping-bag nav-icon"></i>Orders</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="instructor-students.html"><i class="fe fe-user nav-icon"></i>Students</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="instructor-payouts.html"><i class="fe fe-dollar-sign nav-icon"></i>Payouts</a>
									</li>
									  <!-- Nav item -->
									  <li class="nav-item ">
                                        <a class="nav-link" href="instructor-quiz.html"><i class="fe fe-help-circle nav-icon"></i>Quiz</a>
                                    </li>
									<!-- Nav item -->
									<li class="nav-item ">
										<a class="nav-link" href="instructor-quiz-result.html"><i class="fe fe-help-circle nav-icon"></i>Quiz Result</a>
									  </li>
								</ul>
								<!-- Navbar header -->
								<span class="navbar-header">Account Settings</span>
								<ul class="list-unstyled ms-n2 mb-0">
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-edit.html"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="social-profile.html"><i class="fe fe-refresh-cw nav-icon"></i>Social
											Profiles</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="notifications.html"><i class="fe fe-bell nav-icon"></i>Notifications</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="profile-privacy.html"><i class="fe fe-lock nav-icon"></i>Profile
											Privacy</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
											Profile</a>
									</li>
									<!-- Nav item -->
									<li class="nav-item">
										<a class="nav-link" href="index.html"><i class="fe fe-power nav-icon"></i>Sign Out</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card mb-4">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Courses</h3>
							<span>Manage your courses and its update like live, draft and
								insight.</span>
						</div>
						<!-- Card body -->
						<div class="card-body">
							<!-- Form -->
							
								<div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
									<input type="search" class="form-control" placeholder="Search Your Resources" (input)="performSearch($event)">
								</div>
							
						
						</div>
						<!-- Table -->
						<div class="table-responsive overflow-y-hidden">
							<table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
								<thead class="table-light">
									<tr>
										<th scope="col">Resources</th>
										<th scope="col">Reviews</th>
										<th scope="col">Likes</th>
										<th scope="col">Views</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									
									
								
									<tr *ngFor="let item of resources">
										<td>
											<div class="d-flex align-items-center">
												
												<div>
													<a href="#">
														<img [src]="'http://127.0.0.1:8081/get-image/' + item.category.categoryId" alt="course" class="rounded img-4by3-lg">
													</a>
												</div>
												<div class="ms-3">
													<h4 class="mb-1 h5">
														<a href="#" class="text-inherit">
															{{item.name}}
														</a>
													</h4>
													<ul class="list-inline fs-6 mb-0">
														<li class="list-inline-item">
															{{item.description}}
														</li>
													
													</ul>
													<div class="progress mt-2" style="height: 3px">
														<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</td>
										<td> <i class="fe fe-user "></i> {{item.nbreReviews}}</td>
										<td>
											<span class="text-warning">                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 20c-2.205-.48-9-4.24-9-11a5 5 0 0 1 9-3a5 5 0 0 1 9 3c0 6.76-6.795 10.52-9 11"/></svg>                               
											</span>{{item.likes}}
										</td>
										<td><span ><i class="fe fe-eye  "></i>  {{item.views}}</span></td>
										<td>
											<span class="dropdown dropstart">
												<a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="courseDropdown3" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<span class="dropdown-menu" aria-labelledby="courseDropdown3">
													<span class="dropdown-header">Setting </span>
													<a class="dropdown-item" (click)="update(item.resourceId)" href="#"><i class="fe fe-edit dropdown-item-icon"></i>Edit</a>
													<a class="dropdown-item" (click)="delete(item.resourceId)" href="#"><i class="fe fe-trash dropdown-item-icon"></i>Remove</a>
												</span>
											</span>
										</td>
									</tr>
									
									
								
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<div *ngIf="showUpdate" class="modal fade show" id="newCatgory" tabindex="-1" aria-labelledby="newCatgoryLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
         
            <div class="modal-body">
             
                  
                  
                    <div class="mb-3 mb-3">
                        <label class="form-label">Change Description of your resource  </label>
                        <textarea  class="form-control"  [(ngModel)]="UpdatedResource.description"  rows="3" [placeholder]="toUpdateResource.description">{{toUpdateResource.description}}</textarea>
						<img [src]="'http://127.0.0.1:8081/getImageResource/' + toUpdateResource.resourceId" alt="course" class="card-img-top rounded-top-md">


                   </div>
               
                    <div>
                        <a (click)="saveUpdate()"  type="submit" class="btn btn-primary">Save</a> &nbsp;
                        <button (click)="close()" type="submit" class="btn btn-danger">Close</button>
                        
                    </div>
              
            </div>
        </div>
    </div>
</div>