<app-header></app-header>
<main>
	<section class="pt-5 pb-5">
		<div class="container">

		<app-banner-my-resources></app-banner-my-resources>

	<!-- Content -->

	<div class="row mt-0 mt-md-4">
				<div class="col-lg-3 col-md-4 col-12">
					<!-- Side navabar -->
					<app-nav-my-resources></app-nav-my-resources>
				</div>
				
				<div class="col-lg-9 col-md-8 col-12">
					<!-- Card -->
					<div class="card mb-4">
						<!-- Card header -->
						<div class="card-header">
							<h3 class="mb-0">Resources</h3>
							<span>Manage your resources and its update like live, draft and
								insight.</span>
						</div>
						<!-- Card body -->
						<div class="card-body">
							<!-- Form -->
							
								<div class="col-lg-9 col-md-7 col-12 mb-lg-0 mb-2">
									<input type="search" class="form-control" placeholder="Search Your Resources" (input)="performSearch($event)">
								</div>
							
						
						</div>
						<!-- Table -->
						<div class="table-responsive overflow-y-hidden">
							<table class="table mb-0 text-nowrap table-hover table-centered text-nowrap">
								<thead class="table-light">
									<tr>
										<th scope="col">Resources</th>
										<th scope="col">Reviews</th>
										<th scope="col">Likes</th>
										<th scope="col">Views</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									
									
								
									<tr *ngFor="let item of resources">
										<td>
											<div class="d-flex align-items-center">
												
												<div>
													<a >
														<img [src]="'http://127.0.0.1:8081/get-image/' + item.category.categoryId" alt="course" class="rounded img-4by3-lg">
													</a>
												</div>
												<div class="ms-3">
													<h4 class="mb-1 h5">
														<a  class="text-inherit">
															{{item.name}}
														</a>
													</h4>
													<ul class="list-inline fs-6 mb-0">
														<li class="list-inline-item">
															{{item.description}}
														</li>
													
													</ul>
													<div class="progress mt-2" style="height: 3px">
														<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</td>
										<td> <i class="fe fe-user "></i> {{item.nbreReviews}}</td>
										<td>
											<span class="text-warning">                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 20c-2.205-.48-9-4.24-9-11a5 5 0 0 1 9-3a5 5 0 0 1 9 3c0 6.76-6.795 10.52-9 11"/></svg>                               
											</span>{{item.likes}}
										</td>
										<td><span ><i class="fe fe-eye  "></i>  {{item.views}}</span></td>
										<td>
											<span class="dropdown dropstart">
												<a class="btn-icon btn btn-ghost btn-sm rounded-circle"  role="button" id="courseDropdown3" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
													<i class="fe fe-more-vertical"></i>
												</a>
												<span class="dropdown-menu" aria-labelledby="courseDropdown3">
													<span class="dropdown-header">Setting </span>
													<a class="dropdown-item" (click)="update(item.resourceId)" ><i class="fe fe-edit dropdown-item-icon"></i>Edit</a>
													<a class="dropdown-item" (click)="showDeletepopUp(item.resourceId)" ><i class="fe fe-trash dropdown-item-icon"></i>Remove</a>
												</span>
											</span>
										</td>
									</tr>
									
									
								
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<div *ngIf="showUpdate" class="modal fade show" id="newCatgory" tabindex="-1" aria-labelledby="newCatgoryLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
         
            <div class="modal-body">
             
                  
                  
                    <div class="mb-3 mb-3">
                        <label class="form-label">Change Description of your resource  </label>
                        <textarea  class="form-control"  [(ngModel)]="UpdatedResource.description"  rows="3" [placeholder]="toUpdateResource.description">{{toUpdateResource.description}}</textarea>
						<img [src]="'http://127.0.0.1:8081/getImageResource/' + toUpdateResource.resourceId" alt="course" class="card-img-top rounded-top-md">


                   </div>
               
                    <div>
                        <a (click)="saveUpdate()"  type="submit" class="btn btn-primary">Save</a> &nbsp;
                        <button (click)="close1()" type="submit" class="btn btn-danger">Close</button>
                        
                    </div>
              
            </div>
        </div>
    </div>
</div>
<div *ngIf="showDelete" class="modal fade show" id="newCatgory" tabindex="-1" aria-labelledby="newCatgoryLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
         
            <div class="modal-body">
             
                  
                  
                    <div class="mb-3 mb-3">
                        <h2 style="color: brown;" >The reviews of This Resource will be deleted !!</h2>
						<h3>Are you sure about removing  ?</h3>


                   </div>
               
                    <div>
                        <a (click)="delete()"  type="submit" class="btn btn-primary">Remove</a> &nbsp;
                        <button (click)="close2()" type="submit" class="btn btn-danger">Cancel</button>
                        
                    </div>
              
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>