<app-header></app-header>
  <!-- Page Content -->
  <section class="py-xl-18 py-10 bg-auto bg-light hero-graphics">
    <div class="container">
      <!-- Hero Section -->
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 col-md-12">
          <div class="text-center">
            <h1 class="display-2 fw-bold mb-3 text-primary"><span class="text-dark px-3 px-md-0">Build Better </span>
              <span class="headingTyped text-primary">Future</span>
            </h1>
            <p class="mb-6 h2 text-dark">
                Empower your projects with our collaborative hub—where expert forums, workshops, real-time chat, and a rich resource library converge to spark innovation and streamline success.
                 Dive in and transform the way you manage projects.
            </p>
            <a  routerLink="/project-management" class="btn btn-primary me-2">Start Project</a>
            <a href="#" class="btn btn-outline-primary">Learn More</a>
            <div class="mt-8 mb-0">
              <ul class="list-inline">
                <li class="list-inline-item text-dark fw-semibold lh-1 fs-4 me-3   mb-2 mb-md-0"><span
                    class="icon-shape icon-xs rounded-circle bg-light-success text-center me-2"><i
                      class="mdi mdi-check text-success "></i></span><span class="align-middle">AI assistant
                    </span></li>
                <li class="list-inline-item text-dark fw-semibold lh-1 fs-4  me-3    mb-2 mb-md-0"><span
                    class="icon-shape icon-xs rounded-circle bg-light-success text-center me-2"><i
                      class="mdi mdi-check text-success "></i></span><span class="align-middle">Resource Library  
                </span></li>
                <li class="list-inline-item text-dark fw-semibold lh-1 fs-4"><span
                    class="icon-shape icon-xs rounded-circle bg-light-success text-center me-2"><i
                      class="mdi mdi-check text-success "></i></span><span class="align-middle">Task Management</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

<app-footer></app-footer>
