<div class="bg-white border-top border-bottom px-4 py-3 sticky-top">
  <div class="d-flex justify-content-between align-items-center">
      <!-- media -->
      <div class="d-flex align-items-center">
          <a href="#" class="me-2 d-xl-none d-block" data-close><i class="fe fe-arrow-left"></i></a>
          <div class="avatar avatar-md avatar-indicators avatar-online">
              <img [src]="this.pic" alt="" class="rounded-circle" />
          </div>
          <!-- media body -->
          <div class="ms-2">
              <h4 class="mb-0">
                  {{firstname}} {{lastname}}
              </h4>
              <p class="mb-0 text-muted">
                  Online
              </p>
          </div>
      </div>
  </div>
</div>