<app-header></app-header>
<main>
  <!-- Page header -->
  <section class="pt-lg-8 pb-lg-16 pt-7 pb-12 bg-primary">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-xl-7 col-lg-7 col-md-12">
                  <div>
                      <h1 class="text-white display-4 fw-semibold">
                          Getting Started with {{resource.category.name}}
                      </h1>
                      <p class="text-white mb-6 lead">
                         {{resource.category.description}}
                      </p>
                      <div class="d-flex align-items-center">
                          <a  class="bookmark text-white text-decoration-none">
                              <i class="fe fe-bookmark  me-2"></i>Bookmark
                          </a>
                          &nbsp;

                          <a *ngIf="!liked" (click)="like(resource.resourceId)"  class="bookmark text-white text-decoration-none">
                            <i class="fe fe-heart  me-2"></i>{{likes}}
                        </a>
                        &nbsp;

                        <a *ngIf="liked"  class="bookmark text-white text-decoration-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 20c-2.205-.48-9-4.24-9-11a5 5 0 0 1 9-3a5 5 0 0 1 9 3c0 6.76-6.795 10.52-9 11"/></svg>                               
                            {{likes}}
                        
                        </a>


                          <span class="text-white ms-3"><i class="fe fe-user "></i> 1200 Enrolled
                          </span>
                          <span class="ms-4">
                              <i class="mdi mdi-star me-n1 text-warning"></i>
                              <i class="mdi mdi-star me-n1 text-warning"></i>
                              <i class="mdi mdi-star me-n1 text-warning"></i>
                              <i class="mdi mdi-star me-n1 text-warning"></i>
                              <i class="mdi mdi-star me-n1-half text-warning"></i>
                              <span class="text-white">(140)</span>
                          </span>
                          <span class="text-white ms-4 d-none d-md-block">
                              <svg width="16" height="16" viewBox="0 0 16
                        16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <rect x="3" y="8" width="2" height="6" rx="1" fill="#DBD8E9"></rect>
                                  <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                  <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                              </svg>
                              <span class="align-middle"> Intermediate </span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Page content -->
  <section class="pb-10">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
                  <!-- Card -->
                  <div class="card rounded-3">
                      <!-- Card header -->
                      <div class="card-header border-bottom-0 p-0">
                          <div>
                              <!-- Nav -->
                              <ul class="nav nav-lb-tab" id="tab" role="tablist">
                                  <li class="nav-item" role="presentation">
                                      <a class="nav-link" id="table-tab" data-bs-toggle="pill" href="#table" role="tab" aria-controls="table" aria-selected="false" tabindex="-1">Contents</a>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                      <a class="nav-link active" id="description-tab" data-bs-toggle="pill" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                                  </li>
                                  <li class="nav-item" role="presentation">
                                      <a class="nav-link" id="review-tab" data-bs-toggle="pill" href="#review" role="tab" aria-controls="review" aria-selected="false" tabindex="-1">Reviews</a>
                                  </li>
                                
                               
                              </ul>
                          </div>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                          <div class="tab-content" id="tabContent">
                              <div  *ngIf="resource.contentType=='image/png'" class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
                                  <!-- Card -->
                                  <img [src]="'http://127.0.0.1:8081/getImageResource/' + resource.resourceId" alt="course" class="card-img-top rounded-top-md">
                                  <br>

                                 
                                  <a (click)="downloadPdf(resource.name)" class="btn btn-outline-primary">Download</a>
                                  

                              </div>
                              <div *ngIf="resource.contentType=='application/pdf'" class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
                                <!-- Card -->
                                <p>File of this resource : {{resource.name}}</p>
                               
                                <a (click)="downloadPdf(resource.name)" class="btn btn-outline-primary">Download</a>
                                

                            </div>
                            <div *ngIf="resource.url!=''" class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
                                <!-- Card -->
                                Url of this resource :   <a target="_blank" class="popup-youtube icon-shape rounded-circle btn-play icon-xl text-decoration-none" [href]="resource.url">
                                    <i class="fe fe-play fs-3"></i>
                                  </a>
                                <iframe width="560" height="315" [src]="safeVideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                   
                                
                                </iframe>
                               
                                

                            </div>
                            
                              <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                                  <!-- Description -->
                                  <div class="mb-4">
                                 
                                      <h3 class="mb-2">Resource Descriptions</h3>
                                      <p>
                                          {{resource.description}}
                                      </p>
                                    
                                  </div>
                                  <h4 class="mb-3">What you’ll learn</h4>
                                  <div class="row mb-3">
                                      <div class="col-12 col-md-6">
                                          <ul class="list-unstyled">
                                              <li class="d-flex mb-2">
                                                  <i class="mdi mdi-check-circle-outline fs-4 text-success me-1 mt-2"></i>
                                                  <span>Recognize the importance of understanding your
                                                      objectives when addressing an audience.</span>
                                              </li>
                                              <li class="d-flex mb-2">
                                                  <i class="mdi mdi-check-circle-outline fs-4 text-success me-1 mt-2"></i>
                                                  <span>Identify the fundaments of composing a successful
                                                      close.</span>
                                              </li>
                                              <li class="d-flex mb-2">
                                                  <i class="mdi mdi-check-circle-outline fs-4 text-success me-1 mt-2"></i>
                                                  <span>Explore how to connect with your audience through
                                                      crafting compelling stories.</span>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="col-12 col-md-6">
                                          <ul class="list-unstyled">
                                              <li class="d-flex mb-2">
                                                  <i class="mdi mdi-check-circle-outline fs-4 text-success me-1 mt-2"></i>
                                                  <span>Examine ways to connect with your audience by
                                                      personalizing your content.</span>
                                              </li>
                                              <li class="d-flex mb-2">
                                                  <i class="mdi mdi-check-circle-outline fs-4 text-success me-1 mt-2"></i>
                                                  <span>Break down the best ways to exude executive
                                                      presence.</span>
                                              </li>
                                              <li class="d-flex mb-2">
                                                  <i class="mdi mdi-check-circle-outline fs-4 text-success me-1 mt-2"></i>
                                                  <span>Explore how to communicate the unknown in an
                                                      impromptu communication.</span>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                                  <p>
                                      Maecenas viverra condimentum nulla molestie condimentum.
                                      Nunc ex libero, feugiat quis lectus vel, ornare euismod
                                      ligula. Aenean sit amet arcu nulla.
                                  </p>
                                  <p>
                                      Duis facilisis ex a urna blandit ultricies. Nullam
                                      sagittis ligula non eros semper, nec mattis odio
                                      ullamcorper. Phasellus feugiat sit amet leo eget
                                      consectetur.
                                  </p>
                              </div>
                              <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                                  <!-- Reviews -->
                                  

                               
                               
                                  <div class="mb-3">
                                      <div class="d-md-flex align-items-center align-items-center justify-content-between mb-5">
                                          <!-- Reviews -->
                                          <div class="mb-3 mb-lg-0">
                                              <h3 class="mb-0">Reviews</h3>
                                          </div>
                                          <div>
                                              <!-- Form -->
                                             
                                                  <div class="d-flex align-items-center">
                                                      <span class="position-absolute ps-3">
                                                          <i class="fe fe-search"></i>
                                                      </span>
                                                      <input type="search" class="form-control ps-6" placeholder="Search Review" (input)="performSearch($event)">
                                                  </div>
                                            
                                          </div>
                                      </div>
                                      <!-- Rating -->
                                    
                                      <!-- Rating -->
                                    
                                      <!-- Rating -->
                               
                                      <!-- Rating -->
                                      <div *ngFor="let review of reviews"  class="d-flex">
                                          <img *ngIf="review.userId!=Id" src="../../../../assets/images/avatar/avatar-5.jpg" alt="avatar" class="rounded-circle avatar-lg">
                                          <img *ngIf="review.userId==Id" src="../../../../assets/images/avatar/avatar-7.jpg" alt="avatar" class="rounded-circle avatar-lg">
                                          <div  class="ms-3">
                                              <h4 *ngIf="review.userId!=Id" class="mb-1">
                                                  Bessie Pena
                                                  <span class="ms-1 fs-6 text-muted">5 Days ago</span>
                                              </h4>
                                              <h4 *ngIf="review.userId==Id" class="mb-1">
                                                You
                                                <span class="ms-1 fs-6 text-muted">5 Days ago</span>
                                            </h4>
                                         
                                              <p>
                                                {{review.content}}
                                            
                                              </p>
                                              <div class="d-md-flex align-items-center ">
                                              
                                                
                                                <a *ngIf="review.userId==Id"  (click)="update(review.reviewId)" class="btn btn-xs btn-outline-secondary ms-1">Edit</a>
                                                <a  *ngIf="review.userId==Id"  (click)="delete(review.reviewId)" class="btn btn-xs btn-danger ms-md-3">Delete</a>
                                            </div>
                                          </div>
                                      </div>
                                      <div *ngIf="showNewReview && !showUpdate " class="d-flex">
                                        <img src="../../../../assets/images/avatar/avatar-7.jpg" alt="avatar" class="rounded-circle avatar-lg">
                                        <div class="ms-3">
                                            <h4 class="mb-1">
                                                You
                                                <span class="ms-1 fs-6 text-muted">5 Days ago</span>
                                            </h4>
                                       
                                            <p>
                                              {{newReview.content}}
                                              
                                            </p>
                                            <div class="d-md-flex align-items-center ">
                                               
                                                <a  (click)="update(newReview.reviewId)" class="btn btn-xs btn-outline-secondary ms-1">Edit</a>
                                                <a  (click)="delete(newReview.reviewId)" class="btn btn-xs btn-danger ms-md-3">Delete</a>
                                            </div>
                                        </div>





                                        
                                    </div>
                                      <div class="mt-5">
                                        <h3 class="mb-4">Add your review</h3>
                                       
                                          <div class="mb-3">
                                            <label class="form-label">Your Review</label>
                                            <textarea  class="form-control"  [(ngModel)]="review.content"  rows="3" placeholder="Enter your review"></textarea>
                                        </div>
                                        
                                          <button (click)="ajoutReview()"  class="btn btn-primary">Submit Review</button>
                                     
                                      </div>
                                      
                                  </div>
                              </div>
                            
                              <!-- Tab pane -->
                            
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12 mt-lg-n22">
                  <!-- Card -->
                  <div class="card mb-3 mb-4">
                      <div class="p-1">
                        <img [src]="'http://127.0.0.1:8081/get-image/' + resource.category.categoryId" alt="course" class="card-img-top rounded-top-md">
                      </div>
                      <!-- Card body -->
                      <div class="card-body">
                          <!-- Price single page -->
                          <div class="mb-3">
                              <span class="text-dark fw-bold h2">Subscribe now !</span>
                             
                          </div>
                          <div class="d-grid">
                            <input type="email" placeholder="Enter your email " class="form-control ps-6 id"><br>
                             
                              <a href="pricing.html" class="btn btn-outline-primary">Subsribe</a>
                          </div>
                      </div>
                  </div>
                  <!-- Card -->
                  <div class="card mb-4">
                      <div>
                          <!-- Card header -->
                          <div class="card-header">
                              <h4 class="mb-0">What’s included</h4>
                          </div>
                          <ul class="list-group list-group-flush">
                              <li class="list-group-item bg-transparent">
                                  <i class="fe fe-play-circle align-middle me-2 text-primary"></i>12 hours video
                              </li>
                              <li class="list-group-item bg-transparent">
                                  <i class="fe fe-award me-2 align-middle text-success"></i>Certificate
                              </li>
                              <li class="list-group-item bg-transparent">
                                  <i class="fe fe-calendar align-middle me-2 text-info"></i>12
                                  Article
                              </li>
                              <li class="list-group-item bg-transparent">
                                  <i class="fe fe-video align-middle me-2 text-secondary"></i>Watch Offline
                              </li>
                              <li class="list-group-item bg-transparent border-bottom-0">
                                  <i class="fe fe-clock align-middle me-2 text-warning"></i>Lifetime access
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- Card -->
                  <div class="card">
                      <!-- Card body -->
                      <div class="card-body">
                          <div class="d-flex align-items-center">
                              <div class="position-relative">
                                  <img src="../../../../assets/images/avatar/avatar-1.jpg" alt="avatar" class="rounded-circle avatar-xl">
                                  <a  class="position-absolute mt-2 ms-n3" data-bs-toggle="tooltip" data-placement="top" aria-label="Verifed" data-bs-original-title="Verifed">
                                      <img src="../../../../assets/images/svg/checked-mark.svg" alt="checked-mark" height="30" width="30">
                                  </a>
                              </div>
                              <div class="ms-4">
                                  <h4 class="mb-0">Jenny Wilson</h4>
                                  <p class="mb-1 fs-6">Front-end Developer, Designer</p>
                                  <span class="fs-6"><span class="text-warning">4.5</span><span class="mdi mdi-star text-warning me-2"></span>Instructor Rating</span>
                              </div>
                          </div>
                          <div class="border-top row mt-3 border-bottom mb-3 g-0">
                              <div class="col">
                                  <div class="pe-1 ps-2 py-3">
                                      <h5 class="mb-0">11,604</h5>
                                      <span>Students</span>
                                  </div>
                              </div>
                              <div class="col border-start">
                                  <div class="pe-1 ps-3 py-3">
                                      <h5 class="mb-0">32</h5>
                                      <span>Courses</span>
                                  </div>
                              </div>
                              <div class="col border-start">
                                  <div class="pe-1 ps-3 py-3">
                                      <h5 class="mb-0">12,230</h5>
                                      <span>Reviews</span>
                                  </div>
                              </div>
                          </div>
                          <p>
                              I am an Innovation designer focussing on UX/UI based in
                              Berlin. As a creative resident at Figma explored the city of
                              the future and how new technologies.
                          </p>
                          <a href="instructor-profile.html" class="btn btn-outline-secondary btn-sm">View
                              Details</a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Card -->
          <div class="pt-12 pb-3">
              <div class="row d-md-flex align-items-center mb-4">
                  <div class="col-12">
                      <h2 class="mb-0">Related Courses</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card mb-4 card-hover">
                          <a href="course-single.html" class="card-img-top"><img src="../../../../assets/images/course/course-react.jpg" alt="course" class="card-img-top rounded-top-md"></a>
                          <!-- Card body -->
                          <div class="card-body">
                              <h4 class="mb-2 text-truncate-line-2">
                                  <a href="course-single.html" class="text-inherit">How to easily create a website
                                      with React</a>
                              </h4>
                              <ul class="mb-3 list-inline">
                                  <li class="list-inline-item">
                                      <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                                  </li>
                                  <li class="list-inline-item">
                                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                          <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                          <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                      </svg>
                                      Beginner
                                  </li>
                              </ul>
                              <div class="lh-1">
                                  <span>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning"></i>
                                  </span>
                                  <span class="text-warning">4.5</span>
                                  <span class="fs-6 text-muted">(7,700)</span>
                              </div>
                          </div>
                          <!-- Card footer -->
                          <div class="card-footer">
                              <div class="row align-items-center g-0">
                                  <div class="col-auto">
                                      <img src="../../../../assets/images/avatar/avatar-1.jpg" class="rounded-circle avatar-xs" alt="avatar">
                                  </div>
                                  <div class="col ms-2">
                                      <span>Morris Mccoy</span>
                                  </div>
                                  <div class="col-auto">
                                      <a  class="text-muted bookmark">
                                          <i class="fe fe-bookmark"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card mb-4 card-hover">
                          <a href="course-single.html" class="card-img-top"><img src="../../../../assets/images/course/course-graphql.jpg" alt="course" class="card-img-top rounded-top-md"></a>
                          <!-- Card body -->
                          <div class="card-body">
                              <h4 class="mb-2 text-truncate-line-2">
                                  <a href="course-single.html" class="text-inherit">GraphQL: introduction to
                                      graphQL
                                      for beginners</a>
                              </h4>
                              <ul class="mb-3 list-inline">
                                  <li class="list-inline-item">
                                      <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>2h 46m
                                  </li>
                                  <li class="list-inline-item">
                                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                          <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                          <rect x="11" y="2" width="2" height="12" rx="1" fill="#754FFE"></rect>
                                      </svg>
                                      Advance
                                  </li>
                              </ul>
                              <div class="lh-1">
                                  <span>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning"></i>
                                  </span>
                                  <span class="text-warning">4.5</span>
                                  <span class="fs-6 text-muted">(9,300)</span>
                              </div>
                          </div>
                          <!-- Card footer -->
                          <div class="card-footer">
                              <div class="row align-items-center g-0">
                                  <div class="col-auto">
                                      <img src="../../../../assets/images/avatar/avatar-2.jpg" class="rounded-circle avatar-xs" alt="avatar">
                                  </div>
                                  <div class="col ms-2">
                                      <span>Ted Hawkins</span>
                                  </div>
                                  <div class="col-auto">
                                      <a  class="text-muted bookmark">
                                          <i class="fe fe-bookmark"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                      <!-- Card -->
                      <div class="card mb-4 card-hover">
                          <a href="course-single.html" class="card-img-top"><img src="../../../../assets/images/course/course-angular.jpg" alt="course" class="card-img-top rounded-top-md"></a>
                          <div class="card-body">
                              <h4 class="mb-2 text-truncate-line-2">
                                  <a href="course-single.html" class="text-inherit">Angular - the complete guide
                                      for
                                      beginner</a>
                              </h4>
                              <ul class="mb-3 list-inline">
                                  <li class="list-inline-item">
                                      <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>1h 30m
                                  </li>
                                  <li class="list-inline-item">
                                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0
                              0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                          <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                          <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                      </svg>
                                      Beginner
                                  </li>
                              </ul>
                              <div class="lh-1">
                                  <span>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning"></i>
                                  </span>
                                  <span class="text-warning">4.5</span>
                                  <span class="fs-6 text-muted">(8,890)</span>
                              </div>
                          </div>
                          <!-- Card footer -->
                          <div class="card-footer">
                              <div class="row align-items-center g-0">
                                  <div class="col-auto">
                                      <img src="../../../../assets/images/avatar/avatar-3.jpg" class="rounded-circle avatar-xs" alt="avatar">
                                  </div>
                                  <div class="col ms-2">
                                      <span>Juanita Bell</span>
                                  </div>
                                  <div class="col-auto">
                                      <a  class="text-muted bookmark">
                                          <i class="fe fe-bookmark"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-12">
                      <div class="card mb-4 card-hover">
                          <a href="course-single.html" class="card-img-top"><img src="../../../../assets/images/course/course-python.jpg" alt="course" class="card-img-top rounded-top-md"></a>
                          <div class="card-body">
                              <h4 class="mb-2 text-truncate-line-2">
                                  <a href="course-single.html" class="text-inherit">The Python Course: build web
                                      application</a>
                              </h4>
                              <ul class="mb-3 list-inline">
                                  <li class="list-inline-item">
                                      <i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>2h 30m
                                  </li>
                                  <li class="list-inline-item">
                                      <svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                          <rect x="7" y="5" width="2" height="9" rx="1" fill="#754FFE"></rect>
                                          <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                      </svg>
                                      Intermediate
                                  </li>
                              </ul>
                              <div class="lh-1">
                                  <span>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning me-n1"></i>
                                      <i class="mdi mdi-star text-warning"></i>
                                  </span>
                                  <span class="text-warning">4.5</span>
                                  <span class="fs-6 text-muted">(13,245)</span>
                              </div>
                          </div>
                          <!-- Card footer -->
                          <div class="card-footer">
                              <div class="row align-items-center g-0">
                                  <div class="col-auto">
                                      <img src="../../../../assets/images/avatar/avatar-4.jpg" class="rounded-circle avatar-xs" alt="avatar">
                                  </div>
                                  <div class="col ms-2">
                                      <span>Claire Robertson</span>
                                  </div>
                                  <div class="col-auto">
                                      <a  class="text-muted bookmark">
                                          <i class="fe fe-bookmark"></i>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>




</main>
<div *ngIf="showUpdate" class="modal fade show" id="newCatgory" tabindex="-1" aria-labelledby="newCatgoryLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
         
            <div class="modal-body">
             
                  
                  
                    <div class="mb-3 mb-3">
                        <label class="form-label">Change Your Review  </label>
                        <textarea  class="form-control"  [(ngModel)]="UpdatedReview.content"  rows="3" [placeholder]="toUpdateReview.content">{{toUpdateReview.content}}</textarea>

                   </div>
               
                    <div>
                        <a (click)="saveUpdate()"  type="submit" class="btn btn-primary">Save</a> &nbsp;
                        <button (click)="close()" type="submit" class="btn btn-danger">Close</button>
                        
                    </div>
              
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>