<app-navbar></app-navbar>


<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>
<div class="col-lg-11 col-md-10 col-12 offset-md-2 offset-lg-1">
<div class="container mt-10">
  <!-- Card -->
  <div class="card mb-6">
    <!-- Card Header -->
    <div class="card-header border-bottom-0">
      <h3 class="mb-0">User Management</h3>
      <p class="mb-0">Manage all registered users .</p>
    </div>

    <div class="mb-4">
      <input #searchInput type="search" class="form-control" placeholder="Search " (input)="searchUsers(searchInput.value)">
    </div>
    

    <!-- Table -->
    <div class="table-responsive">
      <table *ngIf="users && users.length > 0" class="table mb-0 text-nowrap table-centered table-hover">
        <thead class="table-light">
          <tr>
            <th (click)="sortUsers('email')">Email</th>
            <th (click)="sortUsers('firstName')">First Name</th>
            <th (click)="sortUsers('lastName')">Last Name</th>
            <th (click)="sortUsers('phone')">Phone</th>
            <th (click)="sortUsers('address')">Address</th>
            <th (click)="sortUsers('birthdate')">Birthdate</th>
            <th (click)="sortUsers('createdAt')">Creation Date</th>
            <th>Enabled</th>
            <th>Locked</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.email }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.birthdate | date: 'mediumDate' }}</td>
            <td>{{ user.createdAt | date: 'medium' }}</td>

            <td><span class="badge" [ngClass]="user.enabled ? 'bg-success' : 'bg-danger'">{{ user.enabled ? 'Yes' : 'No' }}</span></td>
            <td><span class="badge" [ngClass]="user.locked ? 'bg-danger' : 'bg-success'">{{ user.locked ? 'Yes' : 'No' }}</span></td>
            <td>
              <!-- Action Buttons -->
              <button (click)="blockUser(user)" class="btn btn-warning me-2" >Block</button>
              
              <button (click)="revokeUser(user)" class="btn btn-danger">Revoke Access</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
