<app-header></app-header>
<div class="container">
    <header>
        <br>
    </header>
    <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
            <div class="mb-3 mb-md-0">
                <h1 class="mb-1 h2 fw-bold">Chatbot</h1>
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="listP">All posts</a>
                        </li>
                       
                        <li class="breadcrumb-item active" aria-current="page">
                            Chatbot
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div>
            <a href="listP" class="btn btn-outline-secondary">Back to all posts</a>
        </div>
    </div>
    <div class="chatbot">
        <ul class="chat-history">
            <li *ngFor="let message of messages">
                <div class="message-container">
                    <span class="message-sender">{{ message.role }}</span>:
                    <span class="message-content">{{ message.content }}</span>
                </div>
            </li>
        </ul>
        <div class="user-input">
            <input type="text" [(ngModel)]="newMessage" name="message" placeholder="Enter your message..." class="large-input">
            <button type="submit" class="send-button" (click)="sendMessage()">Send</button>
        </div>
        <div class="chatbot-response">
            {{ selectedBotResponse }}
        </div>
    </div>
</div>
<app-footer></app-footer>
