<div class="bg-white border-end border-top vh-100">
  <!-- chat list -->
  <div class="chat-window" style=" max-height: 100%;">
    <div class="chat-sticky-header sticky-top bg-white">
      <div class="px-4 pt-3 pb-4">
        <!-- heading -->
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h1 class="mb-0 fw-bold h2">
              Chat
            </h1>
          </div>
          <!-- new chat dropdown -->
          <div>
            <a href="#" class="btn btn-primary rounded-circle btn-icon texttooltip" data-template="newchat"
              data-bs-toggle="modal" data-bs-target="#newchatModal">
              <i class="fe fe-edit"></i>
              <div id="newchat" class="d-none">
                <span>New Chat</span>
              </div>
            </a>
          </div>
        </div>
        <!-- search -->
        <div class="mt-4 mb-4">
          <input type="search" class="form-control form-control-sm" [(ngModel)]="searchTerm" placeholder="Search people, group and messages" />
        </div>
        <!-- User chat -->

        <div class="d-flex justify-content-between align-items-center">
          <!-- media -->
          <a href="#" class="text-link">
            <div class="d-flex">
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img [src]="user?.pic" alt="" class="rounded-circle" />
              </div>
              <!-- media body -->
              <div class="ms-2">
                <h5 class="mb-0">
                  {{user?.firstName}} {{user?.lastName}}
                </h5>
                <p class="mb-0 text-muted">
                  Online
                </p>
              </div>
            </div>
          </a>
          <!-- dropdown -->
          <div class="dropdown dropstart">
            <a href="#" class="text-link" id="userSetting" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="fe fe-more-horizontal fs-3"></i></a>
            <ul class="dropdown-menu" aria-labelledby="userSetting">
              
              <li>
                <a class="dropdown-item" href="#"><i class="fe fe-user dropdown-item-icon"></i>Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="fe fe-power dropdown-item-icon"></i>Sign Out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- nav tabs-->

      
    </div>
    <div data-simplebar style=" max-height: 100%; overflow: hidden">
      <!-- tab content -->
      <div class="tab-content" id="tabContent">
        <!-- tab pane -->
        <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
          <!-- contact list -->
          <ul class="list-unstyled contacts-list">
            <li *ngFor="let chat of filteredChats(); trackBy: trackByChatId" class="py-3 px-4 chat-item contacts-item" (click)="user && selectChat(chat.chatId, chat.otherMember.userId)">
             

              <div class="d-flex justify-content-between align-items-center">
                <a href="" class="text-link contacts-link" (click)="$event.preventDefault()">

                  <!-- media -->
                  <div class="d-flex">
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                      <img [src]="chat.otherMember.pic" alt="" class="rounded-circle" />
                    </div>
                    <!-- media body -->
                    <div class="ms-2">
                      <h5 class="mb-0">
                        {{chat.name}}
                      </h5>
                      <p class="mb-0 text-muted">
                        {{chat.lastMessage}}
                      </p>
                    </div>
                  </div>
                </a>
                <div>
                  <small class="text-muted">{{calculateTimeAgo(chat.lastMessageTimestamp)}}</small>
                </div>
              </div>
              <!-- chat actions -->
              <div class="chat-actions">
                <!--  dropdown -->
                <div class="dropdown dropstart">
                  <a href="#" class="btn btn-white btn-icon btn-sm rounded-circle primary-hover"
                    id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fe fe-more-horizontal fs-3"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton11">
                    <a class="dropdown-item" href="#" (click)="deleteChat(chat.chatId); $event.preventDefault()">
                      <i class="bi-pin-angle dropdown-item-icon"></i>Delete
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>